    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Me</h2>
              <br/>
                <p>I am a junior computer engineering major at UMass Amherst. I hold several officer positions in student organizations like the UMass IEEE student branch, the UMass Hackathon team, and the UMass ACM Cybersecurity Club. My interests are primarily in software. I am fascinated by computer vision, artificial intelligence, and algorithm design.</p>
                <p>Now that I’ve got the necessary business out of the way, some more interesting facts about myself. I have had pigs, goats, and sheep as pets (I’ve had the typical dogs and a cat too). I’ve climbed the Grand Canyon twice and my backpack got eaten by squirrels the first time.  I am double jointed in my fingers and loose jointed in my shoulders which is a great help for Jiu-Jitsu. And one last one, when I bought my Ford Fiesta from the dealer it was the only stick-shift Fiesta in New England for sale.
                </p>
                <p>Hopefully you enjoyed learning a little bit about me. The rest of this site showcases a few of the things that I am working on lately. Feel free to get a hold of me over LinkedIn or via email at keithmiller@umass.edu if you have any questions.
                </p>
                <br/>
              </div>
        </div>
    </section>
