    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Me</h2>
              <br/>
                <p>I am a junior computer engineering major at UMass Amherst. I hold several officer positions in student organizations like the UMass IEEE student branch, the UMass Hackathon team, and the UMass ACM Cybersecurity Club. My interests are primarily in software. I am fascinated by computer vision, artificial intelligence, and algorithm design.</p>
                <p>Technical projects are my passion. The Google Keep app on my phone is always filled with my latest project ideas. I use hackathons as an outlet to jumpstart many of the projects ideas I have. The following are just a handful of the projects I am currently working on. Check them out below and feel free to contact me if you want to learn more.</p>
                <br/>
              </div>
        </div>
    </section>
