    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div align="justify">
                <br/><br/>
                <h2>About Me</h2>
                <br/>
                  <p>I am a junior computer engineering major at UMass Amherst. I hold several officer positions in student organizations such as the UMass IEEE student branch, the UMass Hackathon team, and the UMass ACM Cybersecurity Club. My interests are primarily in software. I am fascinated by computer vision, artificial intelligence, and algorithm design.</p>
                  <p>Now that we have the necessary business information out of the way, some interesting facts about myself. I have raised pigs, goats, and sheep as pets (I have had the typical dogs and a cat too). I have climbed the Grand Canyon twice and my backpack got eaten by squirrels the first time.  I am double jointed in my fingers and loose jointed in my shoulders which is extremely useful when I do Jiu-Jitsu. And lastly, when I bought my Ford Fiesta from the dealer it was the only stick-shift Fiesta available in New England for sale.
                  </p>
                  <p>Hopefully you enjoyed learning a little bit about me. The rest of this site showcases a few projects that I am working on lately. Feel free to reach out to me over LinkedIn or via email if you have any questions.
                  </p>
                  <br/>
                </div>
              </div>
        </div>
    </section>
